<!-- HTML Document head partial -->

<html class="no-js" lang="ar" dir="rtl">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="خدمة لتسهيل تبادل الأدوية بين الناس">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>دواسوا</title>
	<link rel="icon" href="../public/logo/dawasawa_logo@0,1x.png" type="image/png">
	<link rel="stylesheet" type="text/css" href="../public/css/foundation.min.css">
	<link href="https://fonts.googleapis.com/css?family=Cairo:400,700" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="../public/css/app.css">
</head>
<body>
	
