<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="A platform for exchanging medicine in Egypt for free">
	<title>دواسوا</title>
	<link href="https://fonts.googleapis.com/css?family=Cairo:400,700&amp;subset=arabic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>
<body class="full-page">
	<div class="header">
		<div class="waves-effect btn offer">اعرض دواء</div>
		<div class="lang"></div> 
	</div>
	<div class="content">
		<img src="../public/assets/dawasawa_logo.png">
		<form action="/search" method="get">
        	<div class="search-field">
        		<label>
        			<i class="material-icons">search</i>
          			<input id="search" type="search" required>
          		</label>
        	</div>
        	<button class="btn waves-effect waves-light search-btn center" type="submit">إبحث</button>
      </form>
	</div>
	<div class="footer">
		<p><a class="link" href="#">قائمتي</a></p>
		<ul>
			<li><a class="link" href="#">كيفية الاستخدام</a></li>
			<li><a class="link" href="#">عن دواسوا</a></li>
			<li><a class="link" href="#">شروط الاستخدام</a></li>
		</ul>
	</div>


  	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script type="text/javascript" src="../public/js/main.js"></script>
</body>
</html>
