<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="A platform for exchanging medicine in Egypt for free">
	<title>دواسوا</title>
	<link href="https://fonts.googleapis.com/css?family=Cairo:400,700&amp;subset=arabic" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
	<link rel="stylesheet" type="text/css" href="../public/css/styles.css">
</head>

<body>
	<div class="header">
		<div class="row">
			<div class="col s2">
				<img class="header-logo" src="../public/assets/dawasawa_logo.png">
			</div>
			<div class="right-align">
				<div class="waves-effect btn offer">اعرض دواء</div>
			</div>
		</div>
	</div>
	<div class="content">
		<div class="search-area">
			<form action="/search" method="get">
				<div class="search-field">
					<label>
						<i class="material-icons">search</i>
						<input class="right-align" id="search" type="search" required>
					</label>
				</div>
			</form>
		</div>
		<div class="single">
			<div class="medicine-data">
				<div class="row">
					<div class="col l4 m4 s12">
						<div class="full-pic-container">
							<img class="full-img" src="../public/images/placeholder.jpg">
						</div>
					</div>
					<div class="col l8 m8 s12 right-align">
						<div class="med-info">
							<h1 class="name">Augmentin - اوجمنتين</h1>
							<p class="date">تاريخ انتهاء الصلاحية : 8 - 2017</p>
							<p class="full-state">حالة العبوه : سليمه</p>
							<p class="full-description">الوصف : أى كلام أى كلام أى كلام أى كلام أى  أى كلام أى  أى كلام أى كلام</p>
							<p class="full-gov">المحافظة : القاهره</p>
						</div>
						<div class="user-info">
							<h5>بيانات الاتصال</h5>

							<p class='nickname'>أسم المستخدم : محمد هانى</p>
							<div class="email-data">
								<span class='user-email-label'>البريد الإلكتلرونى</span> <span class="splitter"> : </span>
								<span class='user-email'>moh_hany@gmail.com</span>
							</div>
							<p class='user-phone'>رقم الهاتف : 0224572353</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
		<p class="right-align"><a class="link" href="#">قائمتى</a></p>
		<ul>
			<li><a class="link" href="#">كيفية الإستخدام</a></li>
			<li><a class="link" href="#">عن دوا سوا</a></li>
			<li><a class="link" href="#">شروط الإستخدام</a></li>
		</ul>
	</div>



	<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
	<script type="text/javascript" src="../public/js/main.js"></script>
</body>
</html>