/* general rules */
*, html, body {
	margin: 0;
	padding: 0;
	font-family: 'Cairo', sans-serif;
}
.full-page {
	height: 100vh;
}
.center {
	display: block;
	margin: 0 auto;
}
.show {
	display: block;
}
.hide {
	display: none;
}
.invisible {
	opacity: 0;
	transition: opacity 1s linear;
}
.visible {
	opacity: 1;
	transition: opacity 1s linear;
}



/* Buttons */
.offer {
	background: transparent;
	color:#e53935;
	border: 1px solid #e53935;
	margin-right: 35px;
	margin-top: 10px; 
}
.offer:hover{
	background: #e53935;
	color:#fff;
}
.search-btn {
	background: #e53935;
}
.search-btn:hover {
	background: #e53935;
	box-shadow: 0px 3px 7px 0px rgba(0, 0, 0, 0.30);
}



/* search box */
.search-field {
	display: block;
    line-height: inherit;
    width: 100%;
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 10px; 
    margin-left: -15px; 
}

.header-search {
	display: block;
    line-height: inherit;
    width: 600px;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-right: 300px;
}
.search-field > label > #search, .header-search > label > #search {
	background: #fff;
	box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.13);
	border-bottom: none;
	padding: 0 15px;
}

.search-field > label > #search:hover, .search-field > label > #search:active, .search-field > label > #search:focus {
	box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.18);
}

.search-field > label > #search:focus {
	color: #000;
}

.header-search > label > #search:hover, .header-search > label > #search:active, .header-search > label > #search:focus {
	box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.18);
}

.search-field > label > i {
	position: absolute;
  	transform:translateY(50%);
  	margin-left: 15px; 
}
.header-search > label > i {
	position: absolute;
  	transform:translateY(50%);
  	margin-left: 12px;
}

/* footer rules */
.footer {
	height: 40px;
	width: 100%;
	bottom: 0;
	background: #dfdfdf;
	padding: 8px 35px;
}

.footer > ul {
	float: left; 
	margin-top: -21px;
}

.footer > ul > li {
	margin-right: 30px; 
	display: inline;
}

/* links */
.link {
	color: #555;
	text-decoration: none;
}
.link:hover {
	color: #000;
	text-decoration: none;
}
/*******************/
/* home-Page rules */
/*******************/
.home-header {
	height: 70px;
	width: 100%;
}
.home-content {
	width: 80%;
	margin: 0 auto;
	padding: 100px 10% 100px 10%;
}
.home-content > img {
	display: block;
	margin: 0 auto;
}

/**********************/
/* results page rules */
/**********************/
.header {
	background: #dfdfdf;
	width: 100%;
	height: 70px;
	padding: 0 25px;
	position: fixed;
	top: 0;
	z-index: 100;
	box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.18);
}

.header-logo {
	width: 180px;
	margin-top: 15px;
}

.search-area {
	margin-top: 30px;
}

.content {
	min-height: calc(100vh - 140px);
	width: 70%;
	margin: 0 auto;
	margin-top: 100px; 
	padding-bottom: 24px;
}


/* filter */
 .filter {
	float: right;
	text-align: right;
	right: 15%;
	top: 160px;
	z-index: 99;
	position: absolute;
} 
.filter > .selected-section {
	color: #333;
	cursor: pointer;
	width: 235px;
	white-space: nowrap;
	top: 0;
	padding: 10px 20px 10px 0;
	background: #fff;
}

.filter > .selected-section > i {
	color: #333;
	position: absolute;
	margin-left: -134px;
	transition: all 0.7s linear;
}
.filter > .list-shown  {
	color: #ccc;
	position: absolute;
	right: 15px;
	cursor: pointer;
}

.filter > .list-shown > i {
	color: #ccc;
	position: absolute;
	margin-left: -200px;
	transform: rotate(180deg);
	transition: all 0.7s linear;
}
.filter ul {
	background: #FFF;
	width: 250px;
	padding-top: 52px;
	padding-bottom: 24px;
	box-shadow: 0px 3px 7px 1px rgba(0, 0, 0, 0.18);
	height: 400px;
	overflow: auto;
}
.filter ul > li {
	padding: 10px 16px;
}
.filter ul > li:last-child {
	padding: 10px 16px; 
}
.filter ul > li:hover {
	cursor: pointer;
	padding-right: 24px;
	background: #ccc;
	transition: all 0.3s linear;
}
/* results rules */
.results {
	width: 100%;
	margin-top: 64px;
	z-index: 1;
}
.medicine-data {
	background: #fff;
	box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.15);
	padding: 16px 16px 1px 0;
	margin: 24px 0;
	cursor: pointer;
}
.medicine-data .pic-container {
	width: 128px;
}

.medicine-data .pic-container img {
	width: 128px;
	height: 128px;
}
.medicine-data h1.name {
	font-size: 2rem;
	text-align: right;
	color: #d22f2c;
	margin: 0;
	padding: 0;
}

.medicine-data .date {
	font-size: 0.9rem;
	margin-top: 4px;
	color: #999;
}

.medicine-data .state {
	font-size: 1.1rem;
	margin-top: 16px;
	color: #333;
}
.medicine-data .description {
	font-size: 1rem;
	margin-top: 4px;
	color: #333;
	max-width: 600px;
	float: right;
}
.medicine-data .gov {
	position: absolute;
	margin-top: 4px;
	color: #d22f2c;
	font-size: 1.1rem;
}

.pagination {
	padding-top: 12px;
	text-align: center;
}
/***************/
/* single page */
/***************/
.single {
	width: 100%;
	z-index: 1;
}
.single .medicine-data {
	cursor: default;
}
.medicine-data .full-pic-container {
	width: 300px;
}
.medicine-data .full-img{
	width: 300px;
}
.med-info {
	min-height: 200px;
}
.medicine-data .full-gov {
	position: relative;
	float: right;
	margin-top: 16px;
	margin-bottom: 0;  
	width: 100%;
	color: #d22f2c;
}
.medicine-data .full-state {
	font-size: 1.1rem;
	margin-top: 16px;
	color: #333;
}
.medicine-data .full-description {
	font-size: 1rem;
	margin-top: 16px;
	color: #333;
	max-width: 600px;
	float: right;
}
.user-info {
	margin-top: 20px; 
}
.user-info > h5 {
	margin-bottom: 16px;
}
.user-info .nickname {
	font-size: 1.1rem;
}
.user-info .email-data {
	margin-top: 10px; 
}
.user-info .user-email-label {
	font-size: 1.1rem;
	width: 120px;
	float: right;
}
.user-info .splitter {
	font-size: 1.1rem;
	width: 10px;

	float: right;
}
.user-info .user-email {
	font-size: 1.1rem;

}
.user-info .user-phone {
	font-size: 1.1rem;
	margin-top: 10px; 
}































/* media queries */
@media screen and (max-width: 1366px) {
	.medicine-data .full-pic-container {
		width: 200px;
	}
	.medicine-data .full-img{
		width: 200px;
	}
}
@media screen and (max-width: 1024px) {
	.content {
		width: 85%;
	}
	.filter {
		right: 8%;
	}
	.medicine-data .gov {
		position: relative;
		float: right;
		margin-top: 16px;
		margin-bottom: 0;  
		width: 100%
	}
}



@media screen and (max-width: 800px) {
	.offer {
		margin-right: 16px;
		padding: 0 1rem;
	}

	.home-content {
		padding: 200px 10% 0 10%;
	}
	.home-content > img {
		width: 300px;
	}
	.footer {
		padding: 8px 16px;
	}

	.content {
		width: 80%;
	}

	.medicine-data h1.name {
		font-size: 1.6rem;
	}
	.medicine-data .date {
		font-size: 0.8rem;
	}
	.medicine-data .state {
		font-size: 1rem;
	}
	.medicine-data .description {
		font-size: 1rem;
		max-width: 300px;
		float: right;
	}
	.medicine-data .full-pic-container {
		width: 128px;
	}
	.medicine-data .full-img{
		width: 128px;
	}
}
@media screen and (max-width: 720px) {
	.medicine-data .description {
		max-width: 220px;
	}
}
@media screen and (max-width: 600px) {
	.home-content > img {
		width: 70%;
	}
	.header {
		height: 60px;
		padding: 0 16px;
	}
	.header-logo {
		width: 160px;
		margin-top: 12px;
	}
	.filter {
		top: 144px;
	} 
	.medicine-data .pic-container {
		margin: 0 auto;
		margin-bottom: 24px;  		
	}
	.medicine-data .full-pic-container {
		margin: 0 auto;
		margin-bottom: 24px;
		width: 300px;
	}
	.medicine-data .full-img{
		width: 300px;
	}

	.medicine-data .description {
		max-width: 90%;
	}
}
@media screen and (max-width: 500px) {
	.home-content > img {
		width: 230px;
	}
	.footer > ul > li {
		margin-right: 20px; 
	}
	 .filter {
		right: 4%;
	}
	.content {
		width: 90%;
	}
	.search-field {
    	width: 80%; 
    	margin-left: 20px;
	}
}
