<!-- Home Page Footer -->

<div class="footer">
	<div class="top-bar-right">
		<a class="bold" href="/terms">شروط الخدمة</a>
	</div>
	<div class="top-bar-left">
		<span><a class="bold" href="/about">عن الخدمة</a></span>
	</div>
</div>
