<!-- HTML Site header partial -->

<div class="header">
	<div class="container">
		<div class="top-bar-right">
			<div class="title-bar" data-responsive-toggle="nav-menu" data-hide-for="medium">
			  <button class="menu-icon" type="button" data-toggle="nav-menu"></button>
			  <div class="title-bar-title">القائمة</div>
			</div>

			<ul class="dropdown vertical medium-horizontal menu" id="nav-menu" data-dropdown-menu>
				<li><a href="/">الرئيسية</a></li>
				<li><a href="/submit">اعرض دواء</a></li>
				<li><a href="/list_entries">إدراجاتي</a></li>
				<li><a href="/emailus">راسلنا</a></li>
				<li>
					<a href="#">عن دوا سوا</a>
					<ul class="menu">
						<li><a href="/about">عن الخدمة</a></li>
						<li><a href="/terms">شروط الخدمة</a></li>
						<li><a href="/disclaimer">إخلاء مسؤولية</a></li>
						<li><a href="/data_policy">سياسة البيانات</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<div class="top-bar-left">
			<a href="/">
				<img id="logo" src="../public/logo/extended/dawasawa_logo@0,06x.png">
			</a>
		</div>
	</div>
</div>
