<!-- Home page search form -->

<h3>ابحث عن دواء</h3>
<form id="search-form" action="search" method="get">
	<br>
	<input class="search-term" type="text" name="term" placeholder="اسم الدواء بالأحرف اللاتينية">
	<p class="help-text" id="">نقلا عن العبوة أو الوصفة مع مراعاة الدقة، مثال: Augmentine</p>
	<br>
	<label>ترشيح بالمحافظة :
		<select name="governorate">
			<option value="" disabled selected>اختر محافظة</option>
			<option value="كلّ المحافظات">كلّ المحافظات</option>
			
			<!-- render governorates -->
			<% governorates.forEach((gov) => { %>
				<option value="<%= gov %>"><%= gov %></option>
			<% }) %>
		
		
		</select>
	</label>
	<br><br>
	<button class="button hollow" type="submit" form="search-form" value="ابحث">ابحث</button>
</form>
