<div class="modal message-modal">
	<div class="modal-container">
		<div class="modal-content">
			<div id="status_message" class=""></div>
		</div>
		<hr>
		<div class="modal-footer">
			<div id="modal_close" class="button">
			ارجع
			</div>
		</div>
	</div>
</div>
