<div class="expanded row">
				<div class="small-12 meduim-8 large-7 columns">
					<div class="search-result">
						<div class="expanded row">
							<div class="small-12 medium-12 large-9 columns">
								<h5 class="name">Augmentine - أوجمنتين</h5>
								<p class="governorate">القاهرة</p>
								<p class="expire-date">تاريخ انتهاء الصلاحية : 8-2018</p>
								<p class="package_status">حالة العبوة : بحالتها الأصلية</p>
								<div class="contact-data">
									<p class="contact-name"> اسم المستخدم : هشام أحمد</p>
									<p class="contact-info"> للاتصال : 888-888-8888</p>
								</div>
							</div>
							<div class="small-12 medium-4 large-3 columns">
								<div class="pic-container"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
