<% const pageTitle = "<%= pageTitle %>" %>
<% include ./templates/header %>

<div class="content">
	<div class="container">
		<div class="page-content expanded row">
			<div class="submit-col meduim-12 large-6 columns">
				<h3 class="page-name"><%= pageTitle %></h3>
				<div id="terms" class="padded-text">
					<p>بمواصلة استخدامك هذه الخدمة و&nbsp;مطالعة المنشور عبرها فإن ذلك يعد إقرارًا ضمنيا منك بقبول الشروط التالية:</p>
					<ul class="bulky-list">
						<li>إقرارك بأنّ استخدامك الخدمة فعلك بإرادتك و&nbsp;باختيارك</li>
						<li>قبول وصفك "مستخدمًا" للخدمة على النحو الذي يرد في هذه الشروط و&nbsp;في <a href="/disclaimer">بيان إخلاء المسؤولية</a> و&nbsp;في<a href="/data_policy"> سياسة البيانات</a></li>
						<li>قبولك كُلِّ المسؤولية عن كلّ تصرّفاتك عبرها و&nbsp;قبول إخلاء مسؤولية الخدمة كما هو مذكور في <a href="/disclaimer">بيان إخلاء المسؤولية</a></li>
						<li>امتناعك عن أي فعل بطريق الخدمة يكون فيه أي ضرر لأي شخص أو مخالفة القانون</li>
						<li>امتناعك عن كل ما من شأنه تعطيل الخدمة أو منعها عن آخرين، أو استخدامها على نحو غير الذي ترشدك إليه الخدمة</li>
						<li>التزامك بإدخال بيانات و&nbsp;معلومات صحيحة حيثما يُطلب إدخال بيانات و&nbsp;معلومات</li>
						<li>قبولك كلّ المسؤولية عما يترتب على إتاحة نفاذ الكافة إلى البيانات و&nbsp;المعلومات التي تدخلها</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ./templates/footer %>

