<% const pageTitle = "توكيد إدراج" %>
<% include ./templates/header %>

<div class="content">
	<div class="container">
		<div class="row">	
				<p class="success-msg">شكرا لك! سيظهر هذا الإدراج في نتائج البحث بعد قليل. نرجو أن يجد هذا الدواءَ من يحتاجُه.</p>
				<p class="success-msg">لمطالعة إدراجاتك الأخرى - إنْ وُجدت - و إدارتها اتّبع الإرشادات في قسم <a href="/list_entries">إدراجاتي</a></p>
		</div>
	</div>
</div>

<% include ./templates/footer %>

