<!DOCTYPE html>

<!-- Include doc_head -->
<% include ./partials/doc_head %>


<!-- Include site header -->
<% include ./templates/header %>


<div class="content">
	<div class="container">
		<div class="page-content expanded row">
			<div class="submit-col meduim-12 large-6 columns">
				<h3 class="page-name">عن الخدمة</h3>
				<div id="about" class="padded-text">
					<p>هذه الخدمة مُقدَّمة بغرض تيسير التّعاون بين النّاس بتسهيل إيجاد الأدوية غير المتوافرة في محيط بعضهم أو هي أغلى من قدرتهم الماديّة بطريق التّوصيل ما بين من لديهم فائض من أدوية يرغبون في التّبرُّع بها و من يطلبون تلك الأدوية.</p>
					<p>هذه خدمة مجّانية لا يُدفع مقابل عينيّ و لا مادّي لاستخدامها، و لا تقدِّم مشورة صيدليّة، و لا يُقصد بها الاتّجار في الأدوية. و استخدامها يُعدُّ موافقة ضمنيّة على <a href="/terms">شروط الخدمة</a>.</p>
					<p>لعرض دواء زائد عن حاجتك ينبغي ألّا تقلّ المدّة الباقية على انتهاء صلاحيّته عن شهر تنبغي مراعاة الدّقة عند إدخال بيانات الدّواء.</p>
					<p>
						تُحذف إدراجات الأدوية تلقائيا بانتهاء صلاحيّتها أو بطلب المستخدم الذي أدرجها.
					</p>
					<p>هذا النّظام لا يستعمل كلمات السّر! هذا آمَن و يعفيك من عناء تذكُّر كلمة سرّ أخرى. كلّ المعاملات تجري بطريق رسائل البريد الإلكتروني، فتنبغي مراعاة الدّقّة في إدخال عنوان البريد. النّظام لا يحفظ أيّة بيانات عن المستخدمين واضعي الإدراجات غير ما هو مبيّن في سياسة البيانات، و لا يحفظ أيّة بيانات عن الطّالبين.</p>
					<p>
						طالبو الأدوية مسؤولون عن التّحقّق من صلاحيتها و ملاءمتها لاحتياجاتهم، و عن أيّ تعامل بينهم و بين المانحين كما هو موضّح في <a href="/disclaimer">بيان إخلاء المسؤولية</a>.
					</p>
					<p>هذه الخدمة أنشئت و تشغّل بتبرّعات من أفراد مصريين كُرماء.</p>
					<p>الاسم من ابتكار لميا :)</p>
				</div>
			</div>
		</div>
	</div>
</div>



<!-- Include site Footer -->
<% include ./templates/footer %>


<!-- Include doc_tail -->
<% include ./partials/doc_tail %>
