<% const pageTitle = "سياسة البيانات" %>
<% include ./templates/header %>

<div class="content">
	<div class="container">
		<div class="page-content expanded row">
			<div class="submit-col meduim-12 large-6 columns">
				<h3 class="page-name"><%= pageTitle %></h3>
				<div id="data-policy" class="padded-text">
					<p>لأجل تحقيق الغرض منها فإن هذه الخدمة توظّف تقنيات معلوماتية متنوّعة لمعالجة و&nbsp;حفظ البيانات التي يدخلها مستخدموها، بما في ذلك بيانات يُدخلها المستخدمون بأنفسهم و&nbsp;بيانات تتولّد نتيجة اشتغال النظّم العديدة التي تتكوّن منها الخدمة.</p>
					<p>فعند إيداع المستخدم استمارة طلب إدراج مُدخلة تَحفظُ الخدمة كلَّ البيانات المُدخلة في الاستمارة، كما يُحفظُ تاريخ إيداع طلب الإدراج. و&nbsp;فيما عدا البيانات المدخلة في الاستمارة لا تحفظ الخدمة أية بيانات أخرى مستنبطة من اتّصال المستخدم بالخدمة عبر الإنترنت، لا عنوان الإنترنت المتّصل منه، و&nbsp;لا معلومات جغرافية، و&nbsp;لا مُعرّفات مميزة لعتاد أو برمجيات المستخدم، و&nbsp;لا بيانات يمكن منها تمييز المستخدم كفرد فيما عدا ما يدخله بنفسه في الاستمارة.</p>
					<p>تُحذف المدخلات من سجلّ المدخلات الجارية لأحد الأسباب التالية:</p>
					<ul>
						<li>انقضاء المهلة المحددة لإتمام إجراء توكيد طلب الإدراج التي يُعرّف بها المستخدم عند إيداعه الطلب</li>
						<li>انقضاء مدة صلاحية الدواء المُدخلة</li>
						<li>بطلب المستخدم الذي أدخلها</li>
					</ul>
					<div style="height: 12px;"></div>
					<p>بعد حذف مُدخلة من سجّل المدخلات الجارية تُمحى بعض بياناتها و&nbsp;يُنقل بعضها الآخر في صيغته الأصلية أو صيغة مشتقة منها إلى الأرشيف. البيانات التي تُحفظ في الأرشيف هي:</p>
					<ul>
						<li>اسم الدواء</li>
						<li>المحافظة</li>
						<li>تلبيدة عنوان البريد الإلكتروني</li>
						<li>تلبيدة رقم التلفون إذا أدخِل</li>
						<li>سبب و&nbsp;تاريخ الحذف من سجّل المدخلات الجارية.</li>
					</ul>
					<p>التلبيدة قطعة معلوماتية مستنبطة مِنْ دخل ما بحيث تكون فريدة لكل دخل مختلف و&nbsp;متطابقة لكل الدخل المتطابق، و&nbsp;هي خرج تطبيق دالة غير عكوسة على الدَّخل. أي أنّه لا يمكن استنباط الدخل من الخرج.</p>
					<p>لا يلزم لاستخدام الخدمة فتح حسابات و&nbsp;لا الولوج إليها لذا لا تحفظ أسماء مستخدمين و&nbsp;لا كلمات سرّ أو ماشابهها.</p>
					<p>عناوين البريد المدخلة أثناء الاستخدام لا تُحفظ إلا للمدة اللازمة للإجراء المطلوب و&nbsp;لا تُتاح لأية أطراف خارجية.</p>
				</div>
			</div>
		</div>
	</div>
</div>

<% include ./templates/footer %>

