<% const pageTitle = "راسلنا" %>
<% include ./templates/header %>

<div id="page-name" class="callus"></div>
<div class="content">
	<div class="container">
		<div class="page-content expanded row">
			<div class="submit-col meduim-12 large-8 columns">
				<h3 class="page-name"><%= pageTitle %></h3>
				<form id="emailus-form" class="has-captcha">
					<div class="expanded row">
						<div class="large-8 medium-8 small-12 columns">
							<label>الاسم*
								<span id="user_name_error" class="error-msg">نحب مخاطبتك باسمك عند التواصل معك</span>
								<input type="text" id="user_name" name="user_name" placeholder="فلان الفلاني">
							</label>
						</div>
					</div>
					<div class="expanded row">
						<div class="large-8 medium-8 small-12 columns">
							<label>عنوان البريد الإلكترونى*
								<span id="email_error" class="error-msg">عنوان بريدك الإلكتروني مطلوب لنتمكن من الردّ عليك إذا لزم الأمر</span>
								<span id="email_value_error" class="error-msg">صيغة البريد الإلكترونى (name@example.com)</span>
								<input type="email" id="user_email" name="user_email" placeholder="alias@example.com">
							</label>
						</div>
					</div>
					<div class="expanded row">
						<div class="large-8 medium-8 small-12 columns">
							<label>الرسالة
								<textarea id="email_message" name="message" style="min-height: 100px;"></textarea>
							</label>
						</div>
					</div>
					<div class="expanded row">
						<div class="large-8 medium-8 small-12 columns">
							<% include ./templates/captcha_block %>
						</div>
					</div>
					<br>
					<div class="expanded row">
						<div class="large-3 medium-3 small-12 columns">
							<button class="button hollow" type="submit" form="emailus-form" value="أرسل">أرسل</button>
						</div>
					</div>		
				</form>
			</div>
		</div>
	</div>
</div>

<% include ./templates/message_modal %>

<div class="indicator-container">
	<div id="loading">
		<span id="bubblingG_1">
		</span>
		<span id="bubblingG_2">
		</span>
		<span id="bubblingG_3">
		</span>
	</div>
</div>

<% include ./templates/footer %>

