<!DOCTYPE html>

<!-- Include doc_head -->
<% include ./partials/doc_head %>


<!-- Include site header -->
<% include ./templates/header %>

<div class="content">
	<div class="container">
		<div class="row">
				<h1 class="Fail-msg">404</h1>
				<p class="Fail-msg">عفواً المحتوى الذى تبحث عنه غير موجود.</p>
		</div>
	</div>
</div>





<!-- Include site Footer -->
<% include ./templates/footer %>


<!-- Include doc_tail -->
<% include ./partials/doc_tail %>