<% const pageTitle = "عطل" %>
<% include ./templates/header %>

<div class="content">
	<div class="container">
		<div class="row">
				<h1 class="Fail-msg">404</h1>
				<p class="Fail-msg">عفواً المحتوى الذى تبحث عنه غير موجود.</p>
		</div>
	</div>
</div>

<% include ./templates/footer %>

