<!DOCTYPE html>

<!-- Include doc_head -->
<% include ./partials/doc_head %>


<!-- Include site header -->
<% include ./templates/header %>

<div id="page-name" class="entries"></div>
<div class="content">
	<div class="container">
		<div class="entries-data">
			<div class="row">
				<div class="small-12 columns">
					<h4 class="text-center">أدخل عنوان بريدك الإلكترونى</h4>
					<p class="info text-center">
						إذا وُجدت إدراجات مرتبطة بعنوان البريد الذي أدخلته فسوف تُرسل لك رسالة بريد إلكتروني تحوي معلومات عن تلك الإدراجات.
					</p>
					<form id="entries-form" class="has-captcha">
						<span id="email_error" class="error-msg">برجاء إدخال عنوان البريد الإلكترونى</span>
						<span id="email_value_error" class="error-msg">صيغة البريد الإلكترونى (alias@example.com)</span>
						<input type="email" id="user_email" name="user_email" placeholder="عنوان البريد الإلكترونى">
				<% include ./templates/captcha_block %>
						<div class="row">
							<input type="submit" class="spacing button small-12 medium-2 " value="أرسل">
						</div>
						
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Include message modal-->
<% include ./templates/message_modal %>

<div class="indicator-container">
	<div id="loading">
		<span id="bubblingG_1">
		</span>
		<span id="bubblingG_2">
		</span>
		<span id="bubblingG_3">
		</span>
	</div>
</div>

<!-- Include site Footer -->
<% include ./templates/footer %>

<!-- Include doc_tail -->
<% include ./partials/doc_tail %>
