<% const pageTitle = "إدراج دواء" %>
<% include ./templates/header %>

<div class="content">
	<div class="container">
		<div class="page-content expanded row">
			<div class="submit-col meduim-12 large-6 columns">
				<% include ./templates/submit_form %>
			</div>
		</div>
	</div>
</div>

<% include ./templates/message_modal %>

<div class="indicator-container">
	<div id="loading">
		<span id="bubblingG_1">
		</span>
		<span id="bubblingG_2">
		</span>
		<span id="bubblingG_3">
		</span>
	</div>
</div>

<% include ./templates/footer %>

