<!DOCTYPE html>

<!-- Include doc_head -->
<% include ./partials/doc_head %>


<!-- Include site header -->
<% include ./templates/header %>

<div class="content">
	<div class="container">
		<div class="row">	
				<p class="success-msg">شكرا لك! سيظهر هذا الإدراج في نتائج البحث بعد قليل. نرجو أن يجد هذا الدواءَ من يحتاجُه.</p>
				<p>لمعرفة إدراجاتك الأخرى و إدارتها اتّبع الإرشادات في قسم &rquot;<a href="/my_entries">إدراجاتي</a>&lquot;</p>
		</div>
	</div>
</div>

<!-- Include site Footer -->
<% include ./templates/footer %>


<!-- Include doc_tail -->
<% include ./partials/doc_tail %>
