<div class="captcha-container">
  <label for="captcha_data">إنسان أم روبوت :)
	  <div class="captcha-img small-6"></div>
     <input class="small-6" type="text" id="captcha_data" name="captcha_data">
     <div class="button" id="renew-captcha">صعبة! أظهر غيرها</div>
	</label>
</div>
